<!DOCTYPE html>

<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/adminpanel.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <%- include('sidebar') -%>
                <div class="col py-3">
                    <table class="w-100">
                        <% if (type == 'user') { %>
                            <tr>
                                <th>UserID</th>
                                <th>isAdmin</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <% data.forEach(data => { %>
                                <tr>
                                    <td><%- data.ID %> </td>
                                    <td><%- data.isAdmin %></td>
                                    <td><%- data.email %></td>
                                    <td><%- data.password %></td>
                                    <td><a href="#"><i class="bi bi-pencil-square" style="font-size: 1.5em;"></i></a></td>   
                                    <td><a href="#"><i class="bi bi-red bi-trash-fill" style="font-size: 1.5em;"></i></a></td> 
                                </tr>
                            <% }) %>
                        <% } %>
                        <% if (type == 'server') { %>
                            <tr>
                                <th>ID</th>
                                <th>Owner</th>
                                <th>Version</th>
                                <th>Servername</th>
                                <th>IP</th>
                                <th>Website</th>
                                <th>Discord</th>
                                <th>Tags</th>
                                <th>Banner</th>
                                <th>Description</th>
                                <th>Time Added</th>
                                <th>Last Bump</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <% data.forEach(data => { %>
                                <tr id="<%- data.ID %>">
                                    <td><%- data.ID %> </td>
                                    <td><%- data.owner %></td>
                                    <td><%- data.version %></td>
                                    <td><%- data.servername %></td>
                                    <td><%- data.ip %>:<%- data.port %></td>
                                    <td><%- data.website %></td>
                                    <td><%- data.discord %></td>
                                    <td><%- data.tags %></td>
                                    <td><img src="/serverbanners/<%-data.banner-%>" style="max-width: 100%"/></td>
                                    <td><%- data.description %></td>
                                    <td><%- data.timeAdded %></td>
                                    <td><%- data.lastBump %></td>
                                    <td><a href="#"><i class="bi bi-pencil-square" style="font-size: 1.5em;"></i></a></td>   
                                    <td><a href="#"><i class="bi bi-red bi-trash-fill" style="font-size: 1.5em;"></i></a></td> 
                                </tr>
                            <% }) %>
                        <% } %>
                    </table>
                        <% if (type == 'versions') { %>
                            <script type="module">
                                import Tags from "/tags.min.js";
                                Tags.init();
                            </script>
                            TAGS AND VERSIONS
                            <p><%- data %> </p>
                            <div class="row mt-2">
                                <div class="col">
                                    <form action="tags" method="POST" class="my-4" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col mb-5">
                                                <label for="validationTags">Versions</label>
                                                <select class="form-select form-control-lg" id="validationTags" name="tags" multiple
                                                data-max="5">
                                                    <option disabled hidden value="">Choose a tag...</option>
                                                    <option value="prison">Prison</option>
                                                    <option value="factions">Factions</option>
                                                    <option value="skyblock">Skyblock</option>
                                                    <option value="minigames">Minigames</option>
                                                </select>
                                                <div class="invalid-feedback">Please select a valid tag.</div>
                                            </div>
                                        </div>
                                        <div class="row mt-5">
                                            <div class="col">
                                                <label for="validationTags">Tags</label>
                                                <select class="form-select form-control-lg" id="validationTags" name="tags" multiple
                                                data-max="5">
                                                    <option disabled hidden value="">Choose a tag...</option>
                                                    <option value="prison">Prison</option>
                                                    <option value="factions">Factions</option>
                                                    <option value="skyblock">Skyblock</option>
                                                    <option value="minigames">Minigames</option>
                                                </select>
                                                <div class="invalid-feedback">Please select a valid tag.</div>
                                            </div>
                                        </div>
                                        
                                    </form>
                                </div>
    
                            </div>
                         
                        <% } %>
                
                
            </div>
            
                
        </div>
        
    </div>
    <script src="/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>