<!DOCTYPE html>

<head>
    <title>Add a Server</title>
    <link rel="stylesheet" href="/css/servercreation.css">
    <script type="module">
        import Tags from "/tags.min.js";
        Tags.init();
    </script>

</head>

<body>
    <%- include('components/loggedinnavbar') %>
        <% if (locals.server) { %>
            <form action="" method="POST" class="my-4" enctype="multipart/form-data">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-9 col-md-12">
                        <div class="card p-5" style="border-radius: 1rem;">
                            <h2 class="fw-bold mb-4">ADD A SERVER</h2>
                            <div class="row mb-2">
                                <div class="col-lg-2">
                                    <label>Version</label>
                                    <select class="form-control form-control-lg" name="version" value="<%- server.version -%>">
                                        <option value="1.17.X">1.17.X</option>
                                        <option value="1.16.X">1.16.X</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label>Server Name</label>
                                    <input class="form-control form-control-lg" type="text" name="servername" value="<%-server.servername-%>"/>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-10">
                                    <label>Server IP</label>
                                    <input required type="text" name="serverip" id="serverip"
                                        class="form-control form-control-lg mb-4" minlength="7" maxlength="15" value="<%- server.ip -%>"/>
                                </div>
                                <div class="col">
                                    <label>Server Port</label>
                                    <input required type="text" name="serverport" id="serverport"
                                        class="form-control form-control-lg mb-4" minlength="0" maxlength="5" value="<%- server.port -%>"/>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <label>Website URL (Optional)</label>
                                    <input type="url" name="websiteurl" id="websiteurl"
                                        class="form-control form-control-lg mb-4" value="<%- server.website -%>"/>
                                </div>
                                <div class="col">
                                    <label>Discord URL (Optional)</label>
                                    <input type="url" name="discordurl" id="discordurl"
                                        class="form-control form-control-lg mb-4" value="<%- server.discord -%>"/>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <label for="validationTags">Tags</label>
                                    <select class="form-select form-control-lg" id="validationTags" name="tags" multiple
                                        data-max="5" value="<%- server.tags -%>">
                                        <option disabled hidden value="">Choose a tag...</option>
                                        <option value="prison">Prison</option>
                                        <option value="factions">Factions</option>
                                        <option value="skyblock">Skyblock</option>
                                        <option value="minigames">Minigames</option>
                                    </select>
                                    <div class="invalid-feedback">Please select a valid tag.</div>
                                </div>
    
                            </div>
                            <div class="row mb-2 justify-content-center">
                                <div class="col-6">
                                    <label>Upload Banner</label>
                                    <input type="file" name="serverbanner" id="serverbanner"
                                        class="form-control form-control-lg mb-4" />
                                    <p class="text-muted small">Banner must be 468x60, and no larger than 1.5 mb.<br>
                                        Note: Your server will get a lot more attention with a banner! Can't afford one? You
                                        can make one free <a href="https://auto.creavite.co/" target="_blank">here</a> (not
                                        a sponsor)
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <label>Description</label>
                                    <input required type="text" name="serverdesc" id="serverdesc"
                                        class="form-control form-control-lg mb-4" minlength="0" maxlength="256" value="<%- server.description -%>"/>
                                </div>
                            </div>
                            <!--<p class="small mb-3"><a class="text-white-50" href="#!">Forgot password?</a></p>-->
                            <div class="row">
                                <div class="col-12 justify-content-center text-center">
                                    <button class="btn itemoutline hoverable btn-lg px-4" type="submit">Add Server</button>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </form>
        <% } else { %>
            <form action="" method="POST" class="my-4" enctype="multipart/form-data">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-9 col-md-12">
                        <div class="card p-5" style="border-radius: 1rem;">
                            <h2 class="fw-bold mb-4">ADD A SERVER</h2>
                            <div class="row mb-2">
                                <div class="col-lg-2">
                                    <label>Version</label>
                                    <select class="form-control form-control-lg" name="version">
                                        <option value="1.17.X">1.17.X</option>
                                        <option value="1.16.X">1.16.X</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label>Server Name</label>
                                    <input class="form-control form-control-lg" type="text" name="servername" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-10">
                                    <label>Server IP</label>
                                    <input required type="text" name="serverip" id="serverip"
                                        class="form-control form-control-lg mb-4" minlength="7" maxlength="15" />
                                </div>
                                <div class="col">
                                    <label>Server Port</label>
                                    <input required type="text" name="serverport" id="serverport"
                                        class="form-control form-control-lg mb-4" minlength="0" maxlength="5" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <label>Website URL (Optional)</label>
                                    <input type="url" name="websiteurl" id="websiteurl"
                                        class="form-control form-control-lg mb-4" />
                                </div>
                                <div class="col">
                                    <label>Discord URL (Optional)</label>
                                    <input type="url" name="discordurl" id="discordurl"
                                        class="form-control form-control-lg mb-4" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <label for="validationTags">Tags</label>
                                    <select class="form-select form-control-lg" id="validationTags" name="tags" multiple
                                        data-max="5">
                                        <option disabled hidden value="">Choose a tag...</option>
                                        <option value="prison">Prison</option>
                                        <option value="factions">Factions</option>
                                        <option value="skyblock">Skyblock</option>
                                        <option value="minigames">Minigames</option>
                                    </select>
                                    <div class="invalid-feedback">Please select a valid tag.</div>
                                </div>
    
                            </div>
                            <div class="row mb-2 justify-content-center">
                                <div class="col-6">
                                    <label>Upload Banner</label>
                                    <input type="file" name="serverbanner" id="serverbanner"
                                        class="form-control form-control-lg mb-4" />
                                    <p class="text-muted small">Banner must be 468x60, and no larger than 1.5 mb.<br>
                                        Note: Your server will get a lot more attention with a banner! Can't afford one? You
                                        can make one free <a href="https://auto.creavite.co/" target="_blank">here</a> (not
                                        a sponsor)
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <label>Description</label>
                                    <input required type="text" name="serverdesc" id="serverdesc"
                                        class="form-control form-control-lg mb-4" minlength="0" maxlength="256" />
                                </div>
                            </div>
                            <% if (locals.alert) { %>
                                <div class="alert alert-danger text-center mt-3" role="alert">
                                    <i class="bi mx-2 bi-check-circle-fill"></i>Server with that IP and port already created!
                                </div>
                            <% } %>
                            <!--<p class="small mb-3"><a class="text-white-50" href="#!">Forgot password?</a></p>-->
                            <div class="row">
                                <div class="col-12 justify-content-center text-center">
                                    <button class="btn itemoutline hoverable btn-lg px-4" type="submit">Add Server</button>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </form>
        <% } %>
</body>

</html>
</div>