<!DOCTYPE html>
<html>

    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>

    <body>
        <% if (loggedIn) { %>
            <%- include('components/loggedinnavbar') %>
        <% } else { %>
            <%- include('components/navbar') %>
        <% } %>
    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-6 col-md-12 justify-content-center bg-dark py-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="versionDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                    All Versions
                </button>
                <ul class="dropdown-menu" aria-labelledby="versionDropdownButton">
                    <% versions.forEach(version => { %>
                        <li><a class="dropdown-item" href="/version/<%- version %>"><%- version %> </a></li>
                    <% }) %>
                </ul>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="sortedByDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort By: <%- currentSort %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="sortedByDropdownButton">
                    <li><a class="dropdown-item" href="/sortedBy/votes">Votes</a></li>
                    <li><a class="dropdown-item" href="/sortedBy/mostrecent">Most Recent</a></li>
                    <li><a class="dropdown-item" href="/sortedBy/players">Players</a></li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12 col-sm-12 justify-content-center">
                <table class="table mt-5 align-middle">
                    <thead class="bg-dark">
                        <tr>
                            <th scope="col" class="text-center col-2">Name</th>
                            <th scope="col" class="text-center col-7">Information</th>
                            <th scope="col" class="text-center col-2">Status</th>
                        </tr>
                        <tbody class="bg-dark">
                            <% servers.forEach(server => { %>
                                <tr>
                                    <th scope="row" class="text-center"><%- server.servername -%></th>
                                    <td class=" d-flex flex-column text-center align-items-center">
                                        <div class="w-75 justify-content-center align-self-center align-items-center text-center" style="max-width: 468px;">
                                            <div class="flex-row">
                                                <a href="/servers/profile/<%- server.ID -%>" >
                                                    <% if (server.banner) { %>
                                                        <img src="/serverbanners/<%- server.banner -%>" id="banner" class="rounded-top img-fluid">
                                                    <% } else { %>
                                                        <div style="border-style: solid; border-color: gray; border-width: 50%; height: 60px;" class="rounded-top img-fluid"></div>
                                                    <% } %>
                                                </a>
                                            </div>
                                            <div class="text-nowrap"></div>
                                            <% if (server.port) { %>
                                                <div class= "p-1 flex-row ip text-white text-truncate" onclick="copyToClipboard(`<%- server.ip -%>:<%- server.port -%>`,`ip<%- server.ID -%>`)" id="ip<%- server.ID -%>">
                                                    <span>
                                                        <%- server.ip -%>:<%- server.port -%>
                                                        <i class="bi bi-clipboard float-end pe-1" id="clipboard"></i><i id="copiedtext" class="float-end"></i>
                                                    </span>
                                                </div>
                                            <% } else { %>
                                                <div class= "p-1 flex-row ip text-white text-truncate" onclick="copyToClipboard(`<%- server.ip -%>`,`ip<%- server.ID -%>`)" id="ip<%- server.ID -%>">
                                                    <span>
                                                        <%- server.ip -%>
                                                        <i class="bi bi-clipboard float-end pe-1" id="clipboard"></i><i id="copiedtext" class="float-end"></i>
                                                    </span>
                                                </div>
                                            <% } %>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <% if (server.status) { %>
                                            <h6><span class="badge rounded-pill bg-success align-middle"><%- server.playercount -%> Online</span> </h6>
                                        <% } else { %>
                                            <h6><span class="badge rounded-pill bg-danger align-middle">OFFLINE</span> </h6>
                                        <% } %>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </thead>
                </table>
            </div>
        </div>
        
    </div>
    
    <script src="/js/tagdisplay.js"></script>
    <script src="/js/clipboard.js"></script>
</body>

</html>