<!DOCTYPE html>
<html>

    <head>
        <title>Home</title>
    </head>

    <body>
        <% if (loggedIn) { %>
        <%- include('components/loggedinnavbar') %>
    <% } else { %>
        <%- include('components/navbar') %>
    <% } %>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12 justify-content-center">
                <table class="table mt-5 align-middle">
                    <thead class="bg-dark">
                        <tr>
                            <th scope="col" class="text-center col-2">Name</th>
                            <th scope="col" class="text-center col-7">Information</th>
                            <th scope="col" class="text-center col-2">Status</th>
                        </tr>
                        <tbody class="bg-dark">
                            <% servers.forEach(server => { %>
                                <tr>
                                    <th scope="row" class="text-center"><%- server.servername -%></th>
                                    <td class=" d-flex flex-column text-center align-items-center">
                                        <div class="w-75 justify-content-center align-self-center align-items-center text-center" style="max-width: 468px;">
                                            <div class="flex-row">
                                                <a href="/servers/profile/<%- server.ID -%>" >
                                                    <img src="/serverbanners/<%- server.banner -%>" id="banner" alt="18d10cb44bc181199f4aa3e3c2ff2f03.gif" class="rounded-top img-fluid">
                                                </a>
                                            </div>
                                            <% if (server.port) { %>
                                                <div class= "p-1 flex-row ip text-white" onclick="copyToClipboard(`<%- server.ip -%>:<%- server.port -%>`,`ip<%- server.ID -%>`)" id="ip<%- server.ID -%>">
                                                    <span>
                                                        <%- server.ip -%>:<%- server.port -%>
                                                        <i class="bi bi-clipboard float-end pe-1" id="clipboard"></i><i id="copiedtext" class="float-end"></i>
                                                    </span>
                                                </div>
                                            <% } else { %>
                                                <div class= "p-1 flex-row ip text-white" onclick="copyToClipboard(`<%- server.ip -%>`,`ip<%- server.ID -%>`)" id="ip<%- server.ID -%>">
                                                    <span>
                                                        <%- server.ip -%>
                                                        <i class="bi bi-clipboard float-end pe-1" id="clipboard"></i><i id="copiedtext" class="float-end"></i>
                                                    </span>
                                                </div>
                                            <% } %>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <% if (server.status) { %>
                                            <h6><span class="badge rounded-pill bg-success align-middle"><%- server.playercount -%> Online</span> </h6>
                                            <% } else { %>
                                                <h6><span class="badge rounded-pill bg-danger align-middle">OFFLINE</span> </h6>
                                            <% } %>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </thead>
                </table>
            </div>
        </div>
        
    </div>
    
    <script src="/js/tagdisplay.js"></script>
    <script src="/js/clipboard.js"></script>
</body>

</html>