<!DOCTYPE html>
<html>

    <head>
        <title>Profile</title>
    </head>

    <body>
        <% if (loggedIn) { %>
        <%- include('components/loggedinnavbar') %>
    <% } else { %>
        <%- include('components/navbar') %>
    <% } %>
    <div class="container mt-5">
        <div class="row px-0">
            <div class="col-12 p-0">
                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-body" style="line-height:.8em;">
                        <div class="d-flex">
                            <div class="flex-fill w-100 text-start"><h2>Server Overview</h2></div>
                            <div class="flex-fill w-100 text-end">
                                <a href="/server/add" class="btn btn-primary btn-lg">Add Server</a>
                                <a href="/ads" class="btn btn-primary pulse btn-lg">Go Premium</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-sm-12 col-lg-4 ps-0">
                <div class="card border-0 shadow-sm mb-4">
                    <div class="list-group menu">
                        <a href="" class="menu list-group-item active profile"><i class="bi mx-2 bi-house-fill"></i>Profile Home</a>
                    </div>
                    <div class="list-group">
                        <a href="profile" class="menu list-group-item profile"><i class="bi mx-2 bi-gear-fill"></i>Account Settings</a>
                    </div>
                </div>
                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-body">
                        <p class="text-muted small mb-0">Servers</p>
                        <p class="mb-0">0</p>
                    </div>
                </div>
            </div>
            <% if (servers.length == 0) { %>
                <div class="col-lg-8 col-sm-12 bg-dark">
                    <div class="alert alert-default shadow-sm">
                        You dont have a server listed yet! Click the button above to add one now!
                    </div>
                </div>
            <% } %>
            <div class="col-lg-8 col-sm-12 bg-dark">
                <% servers.forEach(server => { %>
                    <div class="row">
                        <div class="col-12 bg-dark">
                            <div class="alert alert-default shadow-sm">
                                <%- server.ip -%> <%- server.port -%>
                            </div>
                            <img src="/serverbanners/<%-server.banner-%>.gif"/>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</body>

</html>