<!DOCTYPE html>
<html>

    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="/css/profile.css">
    </head>

    <body>
        <% if (loggedIn) { %>
        <%- include('../components/loggedinnavbar') %>
    <% } else { %>
        <%- include('../components/navbar') %>
    <% } %>
    <div class="container mt-5">
        <div class="row px-0">
            <div class="col-12 p-0">
                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-body" style="line-height:.8em;">
                        <div class="d-flex">
                            <div class="flex-fill w-100 text-start"><h2>Server Overview</h2></div>
                            <div class="flex-fill w-100 text-end">
                                <a href="/servers/add" class="btn btn-primary btn-lg">Add Server</a>
                                <a href="/ads" class="btn btn-primary pulse btn-lg">Go Premium</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-sm-12 col-lg-4 ps-0">
                <div class="card border-0 shadow-sm mb-4">
                    <div class="list-group menu">
                        <a href="" class="menu list-group-item active profile"><i class="bi mx-2 bi-house-fill"></i>Profile Home</a>
                    </div>
                    <div class="list-group">
                        <a href="profile" class="menu list-group-item profile"><i class="bi mx-2 bi-gear-fill"></i>Account Settings</a>
                    </div>
                </div>
                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-body">
                        <p class="text-muted small mb-0">Servers</p>
                        <p class="mb-0"><%- servers.length -%> </p>
                    </div>
                </div>
            </div>
            <% if (servers.length == 0) { %>
                <div class="col-lg-8 col-sm-12 bg-dark">
                    <div class="alert alert-default shadow-sm">
                        You dont have a server listed yet! Click the button above to add one now!
                    </div>
                </div>
            <% } %>
            <div class="col-lg-8 col-sm-12 bg-dark">
                <% servers.forEach(server => { %>
                    <div class="row mt-3">
                        <div class="col-12 bg-dark">
                            <div class="row">
                                <div class="col-lg-3 d-flex align-items-center justify-content-center">
                                    <h3 class="align-middle"><%- server.servername -%></h3>
                                </div>
                                <div class="col-lg-7 d-flex align-items-center justify-content-center">
                                    <img src="/serverbanners/<%-server.banner-%>" style="max-width: 100%"/>
                                </div>
                                <div class="col-lg-1 d-flex align-items-center justify-content-center">
                                    <a href="/servers/edit/<%-server.ID-%>"><i class="bi bi-pencil-square" style="font-size: 1.5em;"></i></a>
                                </div>
                                <div class="col-lg-1 d-flex align-items-center justify-content-center">
                                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal<%-server.ID-%>">
                                        <i class="bi bi-red bi-trash-fill" style="font-size: 1.5em;"></i>
                                      </button>
                                </div>
                            </div>
                            <div class="modal fade" id="modal<%-server.ID-%>" tabindex="-1" aria-labelledby="<%-server.ID-%>Label" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="modal<%-server.ID-%>Label">Are you sure?</h5>
                                    </div>
                                    <div class="modal-body">
                                      Are you sure you wish to delete <%- server.servername -%>?
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                      <!--<button type="button" class="btn btn-danger">Yes, delete it</button>-->
                                      <a href="/servers/delete/<%-server.ID-%>" class="btn btn-danger" role="button">Yes, delete it</a>

                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                            
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</body>

</html>