<!DOCTYPE html>
<html>

    <head>
        <title>Vote for <%- server.servername %>
        </title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>

    <body>
        <% if (loggedIn) { %>
        <%- include('../components/loggedinnavbar') %>
    <% } else { %>
        <%- include('../components/navbar') %>
    <% } %>
    <div class="container-fluid">
        
        
    </div>
    <div class="container mt-5">
        <form action="" method="post">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10 col-sm-12">
                  <div class="card" style="border-radius: 1rem;">
                    <div class="p-5 text-center">
          
                        <h2 class="fw-bold mb-4">VOTE FOR <%- server.servername %></h2>
                        <div type="text" name="serverid" id="serverid" hidden aria-hidden><%- server.ID %></div>
                        <input required type="text" name="username" id="username" class="form-control form-control-lg mb-4" placeholder="Username" />
    
                        <div class="col-12 justify-content-center">
                            <button class="btn itemoutline hoverable btn-lg px-4" type="submit">Vote</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </form>
        
    </div>
    
</body>

</html>